{% extends "base.html.twig" %}

{% block title %}SymRecipe - Inscription{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Inscrivez-vous</h1>

    <div class="container w-50 mt-3">
        {{form(formRegister)}}
    </div>
{% endblock %}