{% extends 'base.html.twig' %}

{% block title %} 
    SymRecipe - Ajouter
{% endblock %}

{% block body %}
    <h1 class="text-center my-2 fw-bold">Ajouter un ingrédients</h1>

    <div class="mt-5 container w-50">
        {{form(form)}}
    </div>
{% endblock %}